<div class="container">
    <form class="mt-2">
        <!-- Banana in a Box -->
        <input [(ngModel)]="FilterByNameInParent" [ngModelOptions]="{standalone: true}" type="text" class="form-control"/>

    </form>
    
</div>
    <app-products (productEvent)="ParetnAddtoCart($event)" [GetByNameinChild]="FilterByNameInParent"></app-products>

<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @for(i of productsInCart; track i.id) {
        <tr>
            <td>{{ i.productName }}</td>
            <td>{{ i.productPrice | currency }}</td>
            <td>{{ i.productQuantity }}</td>
            <td>
                <button (click)="decreaseQuantity(i)" class="btn btn-danger btn-sm" [disabled]="i.productQuantity <= 0">-</button>
            </td>
            <td>
                <button (click)="increaseQuantity(i)" class="btn btn-success btn-sm">+</button>
            </td>
            <td>
                <button (click)="goToProductDetails(i.id)" class="btn btn-info btn-sm">
                    Product Details
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>

<div  class="alert alert-info mt-4">
    @if(productsInCart.length === 0){
        السلة فاضية! ابدأ التسوق دلوقتي 🛒
    }
</div>